# Binary

bin/*
sbin/*
swapfile

# Generated or built from source

boot/*
lib/*
lib64/*
usr/lib/*
usr/lib*/*
usr/*bin/*
usr/share/*
usr/include/*
usr/x86_64-pc-linux-gnu

# Fetched content

var/db/repos/*

# Secrets

etc/pass*
etc/group*
etc/*shadow*
etc/*net*
etc/wireguard
home/*
root/*
etc/ssl/*
# Not actually files

dev/*
sys/*
proc/*
!proc/config.gz
run/*

# Vendor trash

tmp/*
var/tmp/*
var/db/pkg/*
var/cache/*
usr/tmp/*
stage3*
