# Binary

bin/*
sbin/*
swapfile
lib/firmware/

# Generated or built from source

boot/*
usr/*bin/*
usr/share/*
usr/include/*
usr/lib/*
usr/lib64/*
usr/libexec/*
usr/x86_64-pc-linux-gnu
lib/*
lib64/*

# Fetched content

var/db/repos/*
opt/*
usr/src/*
!usr/src/linux/
usr/src/linux/*
!usr/src/linux/.config
# Secrets

etc/pass*
etc/group*
etc/*shadow*
etc/*net*
etc/wireguard
home/*
root/*
etc/ssl/*
# Not actually files

dev/*
sys/*
run/*
proc/*

#  Media
media/*
mnt/*


# Vendor trash

tmp/*
var/tmp/*
var/log/*
var/db/pkg/*
var/cache/*
usr/tmp/*
stage3*
*.swp
